<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- bean definitions here -->
   
    
<bean id="employeeid" class="com.autowiring.Employee" autowire="byName">
<property name="id" value="101"/>
<property name="name" value ="pooja"/>
<property name="dept" ref="dept1"></property>
</bean>

<bean id="dept1" class="com.autowiring.Department">
<property name="deptNo" value="1000"/>
<property name="deptName" value ="Finance"/>
</bean>
</beans>
 